- name: Set our config at "{{ sshd_config_d_path }}{{ sshd_config_d_name }}"
  ansible.builtin.template:
    src: bluehawks_ssh_config.j2
    dest: "{{ sshd_config_d_path }}{{ sshd_config_d_name }}"
    owner: root
    group: root
    mode: '0600'
  notify: Validate SSH config

- name: Verify our config is highest priority
  ansible.builtin.shell:
    cmd: ls -1 | head -n 1
    chdir: "{{ sshd_config_d_path }}"
  register: command_result
  changed_when: false
  failed_when: command_result.stdout != sshd_config_d_name

# Changes the main sshd_config file to only accept our config.
# Removed because RedHat has changes to crypto with their includes, but we may want to easily re-enable.
#- name: Include our SSH config
#  ansible.builtin.lineinfile:
#    path: /etc/ssh/sshd_config
#    state: present
#    backup: true
#    regexp: '^Include'
#    line: "Include {{ sshd_config_d_path }}"
#    ## Firstmatch and insertbefore not making a difference. Currently overwriting the first include line.
#    #firstmatch: true
#    #insertbefore: 'sshd_config.d/*.conf'
#    # When we have more time, verify what happens if this line does not exist
#    #validate: /usr/sbin/sshd -t %s
#  register: ssh_config_result
#  notify: Validate SSH config

- name: Set SELinux to allow sshd to listen on tcp port "{{ ssh_port }}"
  community.general.seport:
    ports: "{{ ssh_port }}"
    proto: tcp
    setype: ssh_port_t
    state: present
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Validate SSH config


- ansible.builtin.import_role:
    name: ufw_configured

- name: UFW allow tcp port "{{ ssh_port }}" for SSH from "{{ linux_private_network_cidr }}"
  community.general.ufw:
    rule: allow
    port: "{{ ssh_port }}"
    proto: tcp
    from_ip: "{{ linux_private_network_cidr }}"
    comment: ssh
    state: enabled
  when: ansible_facts['os_family'] == 'Debian'


- ansible.builtin.import_role:
    name: firewalld_configured

- name: Firewalld allow tcp port "{{ ssh_port }}" for SSH in internal zone
  ansible.posix.firewalld:
    zone: internal
    permanent: true
    port: "{{ ssh_port }}/tcp"
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld block SSH by default
  ansible.posix.firewalld:
    zone: "{{ item }}"
    permanent: true
    service: ssh
    state: disabled
  loop:
    - "{{ firewalld_default_zone }}"
    - internal
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld


- ansible.builtin.import_role:
    name: fail2ban_configured

- name: SSH fail2ban jail configured
  ansible.builtin.blockinfile:
    block: "{{ lookup('ansible.builtin.template', 'fail2ban_jail.j2') }}"
    # https://stackoverflow.com/questions/66460500/performing-multiple-ansible-builtin-blockinfile-tasks-on-the-same-file
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR SSH CONFIG"
    path: "/etc/fail2ban/jail.local"
    create: true
    owner: root
    group: root
    mode: 0640
    backup: yes
    #validate: /usr/bin/fail2ban-client -d %s
  notify: Restart fail2ban
