- name: Set our config at "{{ sshd_config_d_path }}{{ sshd_config_d_name }}"
  ansible.builtin.template:
    src: bluehawks_ssh_config.j2
    dest: "{{ sshd_config_d_path }}{{ sshd_config_d_name }}"
    owner: root
    group: root
    mode: '0600'
  notify: Validate SSH config

- name: Verify our config is highest priority
  ansible.builtin.shell:
    cmd: ls -1 | head -n 1
    chdir: "{{ sshd_config_d_path }}"
  register: command_result
  changed_when: false
  failed_when: command_result.stdout != sshd_config_d_name

# Changes the main sshd_config file to only accept our config.
# Removed because RedHat has changes to crypto with their includes, but we may want to easily re-enable.
#- name: Include our SSH config
#  ansible.builtin.lineinfile:
#    path: /etc/ssh/sshd_config
#    state: present
#    backup: true
#    regexp: '^Include'
#    line: "Include {{ sshd_config_d_path }}"
#    ## Firstmatch and insertbefore not making a difference. Currently overwriting the first include line.
#    #firstmatch: true
#    #insertbefore: 'sshd_config.d/*.conf'
#    # When we have more time, verify what happens if this line does not exist
#    #validate: /usr/sbin/sshd -t %s
#  register: ssh_config_result
#  notify: Validate SSH config

- name: Set SELinux to allow sshd to listen on tcp port "{{ ssh_port }}"
  community.general.seport:
    ports: "{{ ssh_port }}"
    proto: tcp
    setype: ssh_port_t
    state: present
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Validate SSH config


- name: Ensure ufw package present on Debian-based systems
  ansible.builtin.package:
    name:
      - ufw
  when: ansible_facts['os_family'] == 'Debian'

- name: UFW default deny incoming
  community.general.ufw:
    default: deny
    direction: incoming
    state: enabled
  when: ansible_facts['os_family'] == 'Debian'

- name: UFW default allow outgoing
  community.general.ufw:
    default: allow
    direction: outgoing
    state: enabled
  when: ansible_facts['os_family'] == 'Debian'

- name: UFW default deny routed
  community.general.ufw:
    default: deny
    direction: routed
    state: enabled
  when: ansible_facts['os_family'] == 'Debian'

- name: UFW allow tcp port "{{ ssh_port }}" for SSH from "{{ linux_private_network_cidr }}"
  community.general.ufw:
    rule: allow
    port: "{{ ssh_port }}"
    proto: tcp
    from_ip: "{{ linux_private_network_cidr }}"
    comment: ssh
    state: enabled
  when: ansible_facts['os_family'] == 'Debian'


- name: Ensure firewalld package present on Fedora/RedHat-based systems
  ansible.builtin.package:
    name:
      - firewalld
  when: ansible_facts['os_family'] == 'RedHat'

- name: Firewalld set default zone to "{{ firewalld_default_zone }}"
  ansible.builtin.command: "firewall-cmd --set-default-zone={{ firewalld_default_zone }}"
  register: command_result
  changed_when: "'ZONE_ALREADY_SET' not in command_result.stderr and 'success' in command_result.stdout"
  failed_when: command_result.rc != 0
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld set target to DROP (drop packets that don't match a rule) for "{{ firewalld_default_zone}}" zone
  ansible.posix.firewalld:
    target: DROP
    zone: "{{ firewalld_default_zone }}"
    permanent: true
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld allow tcp port "{{ ssh_port }}" for SSH in internal zone
  ansible.posix.firewalld:
    zone: internal
    permanent: true
    port: "{{ ssh_port }}/tcp"
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld block SSH by default
  ansible.posix.firewalld:
    zone: "{{ item }}"
    permanent: true
    service: ssh
    state: disabled
  loop:
    - "{{ firewalld_default_zone }}"
    - internal
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld forwarding disabled in internal zone
  ansible.posix.firewalld:
    zone: internal
    permanent: true
    forward: false
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld allow traffic from "{{ linux_private_network_cidr }}" in internal zone
  ansible.posix.firewalld:
    zone: internal
    permanent: true
    #forward: false
    source: "{{ linux_private_network_cidr }}"
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld
