- name: Enable EPEL release on RedHat-based systems
  ansible.builtin.package:
    name: epel-release
    state: present
#  when: ansible_facts['distribution'] == 'OracleLinux'
  when: ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution'] != 'Fedora'

- name: Ensure fail2ban package present
  ansible.builtin.package:
    name:
      - fail2ban
    state: present

- name: Default fail2ban jail configured
  ansible.builtin.blockinfile:
    block: "{{ lookup('ansible.builtin.template', 'default_jail.j2') }}"
    # https://stackoverflow.com/questions/66460500/performing-multiple-ansible-builtin-blockinfile-tasks-on-the-same-file
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR DEFAULT CONFIG"
    path: "/etc/fail2ban/jail.local"
    create: true
    owner: root
    group: root
    mode: 0640
    backup: yes
    #validate: /usr/bin/fail2ban-client -d %s
  notify: Restart fail2ban
