- name: Ensure group "{{ username }}" exists
  ansible.builtin.group:
    name: "{{ username }}"
    state: present
    gid: 2000

- name: Ensure "{{ username }}" user exists and part of "{{ username }}" group
  ansible.builtin.user:
    name: "{{ username }}"
    shell: /usr/bin/bash
    group: "{{ username }}"
    create_home: yes
    password: '!'
    uid: 2000

- name: Ensure nobody else can access the home directory belonging to "{{ username }}"
  ansible.builtin.file:
    path: "/home/{{ username }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0700

- name: Run tasks for removing unwanted users from group "{{ username }}"
  ansible.builtin.include_role:
    name: remove_unwanted_users_from_group
  vars:
    group: "{{ username }}"
    user_to_keep: " {{ username }} "

- name: Allow "{{ username }}" group to use sudo
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^%{{ username }}"
    line: "%{{ username }} ALL=NOPASSWD: ALL"
    validate: 'visudo -cf %s'

- name: Set authorized key for SSH
  ansible.posix.authorized_key:
    user: "{{ username }}"
    key: "{{ lookup('file', ssh_public_key) }}" 
    state: present
    exclusive: true
    manage_dir: true # Already default but very important. Ensures .ssh directory exists with proper owner and permissions.


# At this time I cannot find it in any Oracle Linux friendly repo
- name: Install tcptrack everywhere but Oracle Linux
  ansible.builtin.package:
    name:
      - tcptrack
  when: ansible_facts['distribution'] != 'OracleLinux'

- name: Desired additional optional packages installed
  ansible.builtin.package:
    name:
      - "{{ (ansible_facts['os_family'] == 'Debian') | ansible.builtin.ternary('netcat-traditional', 'nmap-ncat') }}"
      - tree
      - htop
      - screen
      - aide
