- name: Ensure firewalld package present on Fedora/RedHat-based systems
  ansible.builtin.package:
    name:
      - firewalld
  when: ansible_facts['os_family'] == 'RedHat'

- name: Firewalld set default zone to "{{ firewalld_default_zone }}"
  ansible.builtin.command: "firewall-cmd --set-default-zone={{ firewalld_default_zone }}"
  register: command_result
  changed_when: "'ZONE_ALREADY_SET' not in command_result.stderr and 'success' in command_result.stdout"
  failed_when: command_result.rc != 0
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld set target to DROP (drop packets that don't match a rule) for "{{ firewalld_default_zone}}" zone
  ansible.posix.firewalld:
    target: DROP
    zone: "{{ firewalld_default_zone }}"
    permanent: true
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld forwarding disabled in internal zone
  ansible.posix.firewalld:
    zone: internal
    permanent: true
    forward: false
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld

- name: Firewalld allow traffic from "{{ internal_network_cidr }}" in internal zone
  ansible.posix.firewalld:
    zone: internal
    permanent: true
    source: "{{ internal_network_cidr }}"
    state: enabled
  when: ansible_facts['os_family'] == 'RedHat'
  notify: Restart Firewalld
